/*HEADER*/

/* Móvil: mostrar el botón y ocultar el menú */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .logo-container {
    position: relative;
    left: 0;
    transform: translateX(0);
  }
}

/* Móvil: mostrar el botón y ocultar el menú */
@media screen and (max-width: 767px) {
  .menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    margin-bottom: 10px;
    position: static;
    align-self: flex-start; /* Por defecto a la izquierda */
    transition: all 0.3s ease;
  }

  /* Cuando el botón tiene clase .close-right, lo movemos a la derecha */
  .menu-toggle.close-right {
    align-self: flex-end;
    margin-right: 20px;
  }

  header {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 20px;
    padding: 20px;
  }

  .logo-container {
    position: static;
    transform: none;
  }

  nav > ul {
    justify-content: center;
  }

  /* Menú oculto inicialmente */
  .left-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: aqua;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;

    display: flex; /* Necesario para que flex funcione */
    transform: translateX(-100%);
    transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
    pointer-events: none;
    opacity: 0;
  }

  /* Cuando el menú está activo */
  .left-menu.active {
    transform: translateX(0);
    pointer-events: auto;
    opacity: 1;
  }

  /* Lista dentro del menú */
  .left-menu ul {
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
